/* Legend */
rect.legendElement {
    stroke: #808080;
    stroke-width:1px;
}

text.legendText {
    font-size: 0.6rem;
    font-weight: bold;
    position: absolute;
    text-anchor: middle;
}

.legendSVG {
    height: 10%;
}

.legendRow {
    padding-top: 2%
}

#familyLegendLabel, #residueLegendLabel {
    text-align: center;
}

#familyLegendViewer, #residueLegendHeader{
    color: dimgray;
    font-weight: bolder;
    font-size: 0.75rem;
    cursor: default;
}

