/* Legend */
rect.legendElement {
    stroke: #808080;
    stroke-width:1px;
}

text.legendText {
    font-size: 14px;
    font-weight: bolder;
    /*font-family: monospace;*/
}

.legendSVG {
    height: 5%;
}