/* Legend */
rect.legendElement {
    stroke: #808080;
    stroke-width:1px;
}

text.legendText {
    font-size: 14px;
    font-weight: bold;
    /*font-family: monospace;*/
}

.legendSVG {
    height: 10%;
}

.legendRow {
    padding-top: 5px;
}

#familyLegendLabel, #residueLegendLabel {
    text-align: center;
}

#familyLegendViewer, #residueLegendViewer{
    color: dimgray;
    font-weight: bolder;
    font-size: 12px;
    cursor: default;
}

.row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}