.frequencyViewerLabel {
    visibility: hidden;
}

.residueSummaryView {
    font-size: 10px;
    margin-top: 20px;
    /*width:100%;*/
    /* 20% the size of the trend image */
    height: 10%;
}

.frequency-left, .frequency-right {
    padding-left: 0;
    padding-right: 0;
}

.context-bar {
    stroke-width: 2;
    stroke: black;
    fill: none;
}

.context-line {
    stroke: black;
    fill: none;
    stroke-width: 2;
}

.context-line-width {
    stroke-width: 0.2;
}

.axisPop text{
    fill: white;
}

.axisPop line{
    stroke: white;
}

.axisPop path{
    stroke: white;
}

.barCallout {
    padding-left: 10px;
}