.frequencyViewerLabel {
    visibility: hidden;
}

.residueSummaryView {
    font-size: 12px;
    padding-top: 30px;
}

.frequency-left, .frequency-right {
    padding-left: 0;
}


.context-bar {
    stroke-width: 2;
    stroke: black;
    fill: none;
}

.context-line {
    stroke-width: 2;
    stroke: black;
    fill: none;
}