g.brush.vertical-left > rect.selection {
    stroke: #a6d854;
}

g.brush.vertical-right > rect.selection {
    stroke: #e78ac3;
}

.frequencyViewerLabel {
    visibility: hidden;
}

.residueSummaryView {
    margin-top: 10px;
}