* {
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

*:focus {
    outline: none;
}

.right_align {
    text-align: right;
}

#header_logo {
    height: 78px;
    width: 191px;
    background: #404040;
}

.header_col {
    width: 191px;
    margin-right: 25px
}

.header_row {
    background: #9d9ea0;
    color: white;
}

#about_name {
    font-weight:bold;
}

.black-background {
    background-color: black;
}

.hidden {
    display: none;
}

.active-selection {
    color: #555;
    text-decoration: none;
    font-weight: bold;
    background-color: #e7e7e7;
    outline: 0
}

.center-aligned {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.center-vertically_quarter {
    position: relative;
    top: 25%;
    transform: translateY(-50%);
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

ul li a.disabled {
    pointer-events:none;
    opacity:0.4;
}

.absolute {
    background-color: white;
    position: absolute;
    z-index: 10;
}

#next {
    background-color: #28a745;
    border-color: #28a745;
}

.x_panel {
    width: 100%;
    margin-bottom: 10px;
    background: #ecf0f1;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.x_title {
    width: 100%;
}

.x_title .filter {
    width: 40%;
    float: right;
}

.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.x_title h2 small {
    margin-left: 10px;
}

.x_title span {
    color: black;
}

.x_content {
    position: relative;
    width: 100%;
    float: left;
    clear: both;
}

.modal {
    top: 25%;
}

.side_by_side {
    display: inline-block;
    /*margin-left: 10px;*/
}

.d3-tip{
    z-index: 10;
}

@media screen and (min-width: 900px) {
    html {
        font-size: calc(12px + (16 - 12) * ((100vw - 900px)/ (1200 - 900)));
    }
}
@media screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}
