#header_logo {
    height: 104px;
    width: 254px;
    background: #404040;
}

.header_row {
    background: #9d9ea0;
    color: white;
}

/* 3D Viewer Title */
.static-label {
    position: absolute;
    right: 50px;
    background: #0000;
    text-align:right;
    z-index: 1;
    font-size: large;
    font-weight:bold;
    color: white;
}

.viewers {
    background-color: black;
    width: 100%;
    height: 100%;
}

p.view {
    color: dimgray;
    font-weight: bolder;
    font-size: 14px;
    margin: 5px 0 5px 0;
    text-align: center;
}