#header_logo {
    height: 104px;
    width: 254px;
    background: #404040;
}

.header_row {
    background: #9d9ea0;
    color: white;
}

.viewers {
    background-color: black;
    width: 100%;
    height: 100%;
}

/* View titles */
p.view {
    color: dimgray;
    font-weight: bolder;
    font-size: 14px;
    margin: 5px 0 5px 0;
    text-align: center;
}