#menu {
    min-height: 5%;
    margin-bottom: 0;
}

.help_about {
    transform: translate(0,50%);
}

#popup-trigger-open, #popup-trigger-pdb, #popup-trigger-alignment, #family-wrench {
    display: inline;
    position: relative;
    background-color: #f8f9fa;
}

.load-alignment {
    font-size:inherit !important;
}

#fileupload-open, #fileupload-open-family {
    cursor: pointer;
}

#fileupload-open-family {
    font-size: inherit !important;
    left: 0;
    width: 25px
}

#fileupload-open-family {
    font-size: inherit !important;
    left: 0;
}

.geometry_dropdown, .coloring_dropdown {
    padding: 0 !important;
    margin: 0 !important;
    display: inline-block !important;
    position: relative !important;
    float: none !important
}

#protein_coloring_list, #geometry_list, #proteinName, #molecularViewerHelp {
    /*background-color: #e7e7e7;*/
    color: #555;
}

@-moz-document url-prefix() {
    #proteinName > a {
        padding-top: 0;
        padding-bottom: 0;
    }
}

#protein_coloring_list a, #geometry_list a {
    color: #555;
}

/* View titles */
div.view {
    width: 100%;
    height: auto;
    text-align: center;
}

.view p {
    color: dimgray;
    font-weight: bolder;
    font-size: 0.875rem;
    display: inline-block;
    text-align: center;
    clear: left;
    margin: 0;
}

#settingsOpen, .settingsOpenPdb, .molecularHelp, .settingsOpenFamily {
    font-size: 1rem;
    padding: 0 0 0 5px;
    cursor: pointer;
    z-index: -1;
    color: dimgray;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.wrenchDropdown {
    padding-left: 0;
    padding-top: 5px;
}

.wrenchDropdown.dropdown-toggle::after {
    display:none
}

.settingsWrench, .proteinSettingsWrench {
    font-size: 1rem;
    padding-top: 20%;
    cursor: pointer;
    z-index: -1;
    color: dimgray;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

/*.settingsWrench {*/
    /*padding-left: 10px;*/
/*}*/

#helpButton.btn-info:focus, #helpButton.btn:focus {
    box-shadow: none!important;
}

#aboutButton .btn-info:focus, #aboutButton.btn:focus {
    box-shadow: none!important;
}

#alignmentViewerOverview, #alignmentViewer, #sequenceViewerMenu {
    color: dimgray;
    font-weight: bolder;
    font-size: 0.875rem;
    cursor: default;
}

.top {
    z-index: 9999999;
}

li > label {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: inherit;
    color: inherit;
    white-space: nowrap;
    cursor: pointer;
}

li > label:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.helpIcon {
    padding: 0 !important;
    padding-left: 5px !important;
    color: dimgray;
}

.icon-positioning {
    transform: translateY(20%);}

.clearfix:after, form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.familySettingsElements_top {
    z-index: 2;
}

.familySettingsElements_bottom {
    z-index: 0;
}

#familyName {
    cursor: pointer;
}

/*#familySettingsDropdown {*/
    /*margin-left: 2vw;*/
/*}*/

#familyFolder {
    width : 100% !important;
    height: auto !important;
}