#menu {
    min-height: 5%;
    margin-bottom: 0;
}

#popup-trigger-open, #popup-trigger-pdb {
    display: inline;
    position: relative;
    background-color: #ecf0f1;
}

#fileupload-open {
    cursor: pointer;
}

/*#molecularViewerMenu {*/
    /*padding-left: 5px;*/
/*}*/

.geometry_dropdown {
    padding: 0 !important;
    margin: 0 !important;
    display: inline-block !important;
    position: relative !important;
    float: none !important
}

#geometry_list, #proteinName {
    background-color: #e7e7e7;
    color: #555;
}

#geometry_list a {
    color: #555;
}

/* View titles */
div.view {
    width: 100%;
    height: auto;
    text-align: center;
}

.view p {
    color: dimgray;
    font-weight: bolder;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    clear: left;
    margin: 0;
}

#settingsOpen, .settingsOpenPdb {
    font-size: 16px;
    padding-left: 5px;
    cursor: pointer;
    z-index: -1;
    background-color: #e7e7e7;
}

.clearfix:after, form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

