/* 3D viewer highlight label*/
.static-label {
    position: absolute;
    right: 25px;
    background: #0000;
    text-align:right;
    z-index: 1;
    font-size: large;
    font-weight:bold;
    color: white;
}

#molecularViewerA {
    padding-right: 0;
    border-right: 2px solid white;
}

#molecularViewerB {
    padding-left: 0;
    padding-right: 0;
    border-right: 2px solid white;
}

.tertiaryViewer, .axisViewer, .zoomButtons {
    position: absolute;
}

#link3DViewers {
    width: 20px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translateX(-20px);
    z-index: 1000;
}

.zoomButtons {
    bottom: 5px;
    left: 5px;
    z-index: 2;
}

.zoom_in, .zoom_out {
    display: block;
}

.axisViewer {
    bottom: 0;
    right: 0;
}

.zoomButtons button {
    height: 30px;
    width: 30px;
}

.molecular-viewer {
    background-color: black;
    width: 100%;
    height: 37%
}