/* 3D viewer highlight label*/
.static-label {
    position: absolute;
    right: 25px;
    background: #0000;
    text-align:right;
    z-index: 1;
    font-size: large;
    font-weight:bold;
    color: white;
}

#molecularViewerA {
    padding-right: 0;
}

#molecularViewerB {
    padding-left: 0;
    padding-right: 0;
}

.tertiaryViewer, .axisViewer {
    position: absolute;
}

.axisViewer {
    bottom: 0;
    right: 0;
}

.molecular-viewer {
    background-color: black;
    width: 100%;
    height: 40%
}