.sequenceViewer {
    overflow-y: hidden;
    overflow-x: hidden;
}

.sequence {
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    margin: 4px 0 4px 6px;
    padding: 4px;
    background: #fff;
    border: solid 1px #aaa;
}
.residue {
    display: block;
    vertical-align: middle;
    height: 22px;
    text-align: center;
    font-weight: bold;
    background-color: #f7f7f7;
    border: solid 1px #aaa;
}

.sequence-viewer {

}