#sequenceViewer {
    background-color: black;
    height: 40%;
    overflow-y: hidden;
}

.sequenceViewers {
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Disable the scroll bar from rendering */
.sequence::-webkit-scrollbar
{  display: none;  }

.sequence-a, .sequence-b {
    padding: 0;
    background-color: black;
}

.sequence {
    overflow-y: scroll;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    background: #fff;
    height: 100%
}

.residue {
    display: block;
    vertical-align: middle;
    height: 22px;
    text-align: center;
    font-weight: bold;
    background-color: #f7f7f7;
    border: solid 1px #aaa;
}
