.axis path,
.axis line {
    fill: none;
    stroke: black;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    color: black
}

.trendImage {
    background-color: gray;
}

.aminoAcid {
    fill-opacity: 0.4;
}

.active-selection {
    fill-opacity: 1.0;
}

g.brush.horizontal > .handle {
    display: none;
}
