.axis path,
.axis line {
    fill: none;
    stroke: black;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    color: black
}

g.brush > .handle, g.brush > .crosshair {
    display: none;
}