.trendImage {
    background-color: #ecf0f1;
}

.aminoAcid {
    fill-opacity: 0.1;
    stroke-opacity: 0.0;
}

.active_protein_selection, .active_res_selection {
    fill-opacity: 1.0;
    stroke-opacity: 1.0;
}

g.brush.horizontal > .handle {
    display: none;
}

.TDView {
    margin-bottom: 30px;
}
